:root {
  --main--dark: #191919;
  --main--light: #f4f4f4;
  
  --sec--heading--size: 2.5rem;
  --p--size: 1.5rem;
  --heading--font: "Livvic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  box-sizing: border-box;
}

.btn{
  padding: 1rem;
  background: transparent;
  color: var(--main--light);
  border: 0.2rem solid var(--main--light);
  margin-right: 1rem;
  font-size: var(--p--size);
}

.btn:hover{
  background: var(--main--light);
  color: var(--main--dark);
  border: 0.2rem solid var(--main--light);
  cursor: pointer;
}

.view-all-projs-btn{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

body {
  margin: 0px;
  background: var(--main--dark);
  color: var(--main--light);
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1300px;
  margin: auto;
}

/* LANDING */
.landing {
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  /* position: relative; */
}
.landing__content {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-column-gap: 6rem;
  position: relative;
  top: 11vh;
  /* z-index: -1; */
  justify-content: center;
  /* width: 90%; */
}

.landing__content-col1 {
  /* margin-bottom: 9rem; */
}
.landing__content-col1 .name-letters {
  display: grid;
  grid-template-areas: "o w" "e n";
  text-align: center;
  font-size: 26rem;
  grid-gap: 1rem;
  color: var(--main--dark);
}
.o-letter {
  animation: moveInFromLeft 1s ease-out;
}

.w-letter {
  animation: moveInFromTop 1s ease-out;
}

.e-letter {
  animation: moveInFromTop 1s ease-out;
}
.n-letter {
  animation: moveInFromBottom 1s ease-out;
}

.landing__content-col1 .name-letters div {
  color: var(--main--dark);
  background: var(--main--light);
  font-family: "Lora", serif;
  text-transform: uppercase;
}

.landing__content-col2 {
  animation: moveInFromRight 1.3s ease-out;
  height: 70vh;
}

.about-me {
  display: block;
  color: var(--main--light)
  /* padding-top: 3rem; */
}

.about-me {
  display: block;
}

.about-me h1 {
  font-size: var(--sec--heading--size);
  font-family: var(--heading--font);
  margin: 2rem 0;
}

.about-me p {
  font-size: var(--p--size);
  margin-bottom: 4rem;
}

#about{
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}


#projects{
  display: block;
  position: relative;
  visibility: hidden;
  top: -10rem;
  z-index: -1;
}

.view-btns {
  display: flex;
  margin-bottom: 5rem;
  color: var(--main--light);
}
.view-btns button {
  padding: 1rem;
  background: transparent;
  color: var(--main--light);
  border: 0.2rem solid var(--main--light);
  margin-right: 1rem;
  font-size: var(--p--size);
}

.view-btns a{
  color: var(--main--light)
}

.view-btns button:hover, .view-btns a:hover {
  background: var(--main--light);
  color: var(--main--dark);
  border: 0.2rem solid var(--main--light);
  cursor: pointer;
}

.social-links {
  margin-top: 1rem;
  animation: moveInFromFarBottom 2s ease-in;
}
.social-links a {
  font-size: 4.1rem;
  margin-right: 0.9rem;
  z-index: var(--main--dark)00;
  
}

/* projects */
section.projects {
  position: relative;
  width: 90%;
  margin: auto;
  pointer-events: none;
  
}
.project__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 3rem;
  position: relative;
  padding-bottom: 2rem;
  /* box-shadow: #333 2px 2px; */
}

.project__box img {
  width: 100%;
  height: 100%;
  border: var(--main--light) solid 1px;
  
}

.view__proj{
  z-index: 222;
}
.project__heading {
  font-size: var(--sec--heading--size);
  font-family: var(--heading--font);
  text-align: center;
  margin: 3rem;
}
.proj__title {
  font-size: 2rem;
  font-family: var(--heading--font);
}

.proj__des {
  font-size: var(--p--size);
}

.proj__bts {
  margin-top: 6rem;
  font-size: var(--p--size);
}
.proj__bts a {
  padding: 1rem;
  text-decoration: none;
  color: var(--main--light);
  border: 0.12rem solid var(--main--light);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: var(--p--size);
}

.proj__bts a:hover {
  padding: 1rem;
  color: var(--main--dark);
  border: 0.12rem solid var(--main--light);
  background: var(--main--light);
}

.Project__display{
  margin: auto;
  max-width: 1200px;
  margin-top: 20vh;
}


/* ANIMATIONS */
@keyframes moveInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveInFromFarRight {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveInFromFarBottom {
  0% {
    transform: translateY(2000%);
  }
  100% {
    transform: translateX(0%);
  }
}

.projects {
  padding-bottom: 4rem;
}

/* Contact */
.Contact {
  color: #191919;
  font-size: 1rem;
  text-align: center;
  height: 60vh;
  background: #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: 10px -780px;
  background: url("https://images.pexels.com/photos/698808/pexels-photo-698808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-top: 7rem;
}

.Contact h1 {
  font-size: 4rem;
  font-family: var(--heading--font);
  color: #f4f4f4;
}

.Contact p {
  margin: 1rem;
  font-size: 2rem;
  color: #f4f4f4;
}

.email-btn {
  display: inline-block;
  padding: 1rem 4rem;
  background: transparent;
  margin: 3rem;
  font-size: var(--p--size);
  border: 1px solid #f4f4f4;
  transition: 0.2s ease-out;
  color: #f4f4f4;
  
}

.email-btn:hover {
  background: #f4f4f4;
  color: black;
  transform: scale(1.3);
  transition: 0.2s ease-out;
}

/* Footer */
.Footer {
  background: #000000;
  padding: .7rem;
  
}

.Footer p {
  text-align: center;
  margin: 2rem;
  font-size: 1.6rem;
  color: #f4f4f4
}

@media (max-width: 800px) {
  html {
    font-size: 50.5%;
    overflow-x: hidden;
  }
  body {
    overflow: hidden;
  }
.landing{
  width: 90%;
  
}
  .landing__content {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    
  }
  .landing__content-col1 {
    height: 100vh;
    margin-top: 5vh
    
  }
  .landing__content-col2 {
    margin-top: -25vh;
    animation: moveInFromRight 1.3s ease-out;
    text-align: center;
    
  }

  .view-btns {
    display: inline;
    text-align: center;
  }

  .project__box {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    padding: 3rem;
    padding-bottom: 6rem;
  }
  .project__box img {
    width: 90%;
  }
  

  section.projects {
    padding-top: 30vh;
    margin: auto;
    
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 60.5%;
    overflow-x: hidden;
  }

  section.projects {
    padding-top: 20vh;
    margin: auto;
    
  }
}


@media(max-height: 660px){
  *{
    /* color: red; */
  }
  section.projects {
    padding-top: 47vh;
    margin: auto;
    
  }

  .about-me {
    margin-top: 14vh;
    max-width: 300px !important;
    margin: auto;
  }
  
  .container {
    margin: auto;
  }

  .landing__content {
    width: 70%;
    color:red  !important;
  }
  .landing__content-col1{
    width: 70%;
  }

  .landing__content-col1 .name-letters {
    font-size: 24rem;
    grid-gap: 1rem;
  }

}